[Unit]
Description=Packetbeat for the ELK stack
After=kibana.target

[Service]
ExecStart={{ base_directory }}/packetbeat/packetbeat/packetbeat -c {{ base_directory }}/packetbeat/config/packetbeat.yml
Type=simple
User={{user}}
Group={{group}}
Restart=on-failure

[Install]
WantedBy=multi-user.target
