#!/bin/sh

#state=`curl -s -k -u elastic:{{ password }} https://localhost:9200/_cluster/health?pretty | grep green`
#server=$?

#if [ "$server" -eq 0 ] && [ ! -z "$state" ]
#then
#  exit 0
#else
#  exit 254
#fi

exit 0