[Unit]
Description=Metricbeat for the ELK stack
After=kibana.target

[Service]
ExecStart={{ base_directory }}/metricbeat/metricbeat/metricbeat -c {{ base_directory }}/metricbeat/config/metricbeat.yml
Type=simple
User={{ user }}
Group={{ group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
