[Unit]
Description=Kibana for the ELK stack
After=elasticsearch.target

[Service]
ExecStart=/usr/local/bin/node --no-warnings {{ base_directory }}/kibana/kibana/src/cli -c {{ base_directory }}/kibana/config/kibana.yml
Type=simple
User={{ user }}
Group={{ group }}

[Install]
WantedBy=multi-user.target
