# {{ ansible_managed }}

server.port: 5601
{% if expose_on_localhost == 'yes' %}
server.host: "localhost"
{% else %}
server.host: "0.0.0.0"
{% endif %}

{% if server_basepath == '' %}
# server.basePath: ""
{% if expose_on_localhost == 'yes' %}
server.publicBaseUrl: "https://localhost:5601"
{% else %}
server.publicBaseUrl: "https://{{ ansible_default_ipv4.address }}:5601"
{% endif %}
{% else %}
server.basePath: "{{ server_basepath }}"
{% if expose_on_localhost == 'yes' %}
server.publicBaseUrl: "https://localhost:5601/{{ server_basepath }}"
{% else %}
server.publicBaseUrl: "https://{{ ansible_default_ipv4.address }}:5601/{{ server_basepath }}"
{% endif %}
{% endif %}

elasticsearch.hosts:
{% for host in groups['elasticsearch'] %}
  - "https://{{ host }}:9200"
{% endfor %}

elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ password }}"

path.data: {{ base_directory }}/kibana/data/
logging.dest: /var/log/kibana.log

server.ssl.enabled: true
server.ssl.certificate: {{ base_directory }}/kibana/config/kibana-{{ ansible_default_ipv4.address }}.crt
server.ssl.key: {{ base_directory }}/kibana/config/kibana-{{ ansible_default_ipv4.address }}.key
elasticsearch.ssl.certificateAuthorities: [ "{{ base_directory }}/kibana/config/ca.crt" ]

xpack.encryptedSavedObjects.encryptionKey: {{ encryptionKey }}