# {{ ansible_managed }}

server.port: 5601
server.host: "{{ server_host }}"

{% if server_basepath == '' %}
# server.basePath: ""
{% else %}
server.basePath: "{{ server_basepath }}"
{% endif %}

elasticsearch.hosts:
{% for host in groups['elasticsearch'] %}
  - "https://{{ host }}:9200"
{% endfor %}

elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ password }}"

path.data: {{ base_directory }}/kibana/data/
logging.dest: /var/log/kibana.log

server.ssl.enabled: true
server.ssl.certificate: {{ base_directory }}/kibana/config/kibana-{{ ansible_default_ipv4.address }}.crt
server.ssl.key: {{ base_directory }}/kibana/config/kibana-{{ ansible_default_ipv4.address }}.key
elasticsearch.ssl.certificateAuthorities: [ "{{ base_directory }}/kibana/config/ca.crt" ]

xpack.encryptedSavedObjects.encryptionKey: {{ encryptionKey }}