[Unit]
Description=Filebeat for the ELK stack
After=kibana.target

[Service]
ExecStart={{ base_directory }}/filebeat/filebeat/filebeat -c {{ base_directory }}/filebeat/config/filebeat.yml
Type=simple
User={{ user }}
Group={{ group }}
Restart=on-failure
RestartSec=10s
StartLimitBurst=12

[Install]
WantedBy=multi-user.target
