path.home: {{ base_directory }}/filebeat/filebeat
path.config: {{ base_directory }}/filebeat/config
path.data: {{ base_directory }}/filebeat/data
path.logs: /var/log/filebeat


filebeat.inputs:

- type: filestream

  id: my-filestream-id
  enabled: false
  paths:
    - /var/log/*.log
    #- c:\programdata\elasticsearch\logs\*

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false


setup.template.settings:
  index.number_of_shards: 1
  #index.codec: best_compression
  #_source.enabled: false

setup.dashboards.enabled: true

setup.kibana:
  host: "https://{{ groups['kibana'][0] }}:5601"


output.elasticsearch:
  hosts:
{% for host in groups['elasticsearch'] %}
    - "https://{{ host }}:9200"
{% endfor %}
  username: "elastic"
  password: "{{ password }}"
  loadbalance: true
  pipeline: geoip-info


processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
{% for item in private_network %}
  - add_fields:
      when.network.source.ip: {{ item.ip }}
      fields:
        source.geo.location:
          lat: {{ item.lat }}
          lon: {{ item.lon }}
      target: ''
  - add_fields:
      when.network.destination.ip: {{ item.ip }}
      fields:
        destination.geo.location:
          lat: {{ item.lat }}
          lon: {{ item.lon }}
      target: ''
{% endfor %}

http.enabled: true
http.port: {{ monitoring_port }}

monitoring:
  enabled: true
  elasticsearch:
    username: beats_system
    password: "{{ password }}"