#!/bin/sh

state=`curl -k -s -u elastic:{{ password }} https://{{ ansible_default_ipv4.address }}:9200/_cluster/health?pretty | grep green`
server=$?

if [ "$server" -eq 0 ] && [ ! -z "$state" ]
then
  exit 0
else
  exit 254
fi
