[Unit]
Description=Auditbeat for the ELK stack
After=kibana.target

[Service]
ExecStart={{ base_directory }}/auditbeat/auditbeat/auditbeat -c {{ base_directory }}/auditbeat/config/auditbeat.yml
Type=simple
User={{user}}
Group={{group}}
Restart=on-failure
RestartSec=10s
StartLimitBurst=12

[Install]
WantedBy=multi-user.target
